<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                        <a class="list-group-item list-group-item-action py-4 ripple" aria-current="true" (click)="selectAppOpt('gastos')">
                                <i class="fas fa-money-bill-wave me-2"></i><span>Gastos</span>
                        </a>
                        <a class="list-group-item list-group-item-action py-4 ripple" (click)="selectAppOpt('ingresos')">
                                <i class="fas fa-hand-holding-usd me-2"></i><span>Ingresos</span>
                        </a>
                        <a class="list-group-item list-group-item-action py-4 ripple" (click)="selectAppOpt('cuentas')">
                                <i class="fas fa-wallet me-2"></i><span>Cuentas</span></a>
                        <a class="list-group-item list-group-item-action py-4 ripple" (click)="selectAppOpt('relacion-pagos')">
                                <i class="fas fa-file-invoice me-2"></i><span>Relación Pagos</span></a>
                </div>
        </div>
</nav>